<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1">
    <title>Device Registration</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orelega+One&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<div class="sidenav">
    <nav class="sidebar">
        <header>
            <div class="image-text">
                <span class="image">
                    <img th:src="@{images/grootan.webp}" alt="">
                </span>

                <div class="text logo-text">
                    <span class="name">Grootan</span>
                    <span class="profession">Device Management</span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>
    </nav>
    <br>
    <br>
    <button class="dropdown-btn"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;Employee
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <a th:href="@{/registration_form}">Employee Registration</a>
        <a th:href="@{/List_Of_Employees}">List Of Employees</a>
        <a th:href="@{/user_devices}">List Of Employee Devices</a>
        <a th:href="@{/department}">Add Employee Department</a>
        <a th:href="@{/getAllDeviceCategory}">listOfDeviceCategory</a>
    </div>
    <br>
    <button class="dropdown-btn"><i class='fa fa-users'></i>&nbsp;Roles
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <a th:href="@{/registration_roles}">Roles Registration</a>
        <a th:href="@{/List_Of_Roles}">List Of Roles</a>
    </div>
    <br>
    <button class="dropdown-btn"><i class='bx bxs-devices'></i>&nbsp;Devices
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <a th:href="@{/add_device_details}">Add Device Details</a>
        <a th:href="@{/List_Of_Devices}">List Of Device Details</a>
        <a th:href="@{/category}">Add Device Category</a>
        <a th:href="@{/DeviceName}">Add Device Name</a>
    </div>
    <br>
    <a th:href="@{/history}"class="dropdown-btn"><i class="fa fa-history" aria-hidden="true"></i>&nbsp;History</a>
    <br>
    <a sec:authorize="isAuthenticated()" th:href="@{/logout}" class="dropdown-btn"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;Logout</a>
</div>
<div class="main">
    <div th:if="${param.success}">
        <div class="alert alert-info">You've successfully registered
            to Grootan Asset Management website!</div>
    </div>
    <br>
    <br>
    <div th:if="${errorMessage!=null}">
        <div class="alert alert-info">[[${errorMessage}]]</div>
    </div>

    <form th:action="@{/device_details}" method="post" th:object="${devices}">
        <h1>Device Registration</h1>
        <div class="form-group">
            <label class="control-label"> Device Category </label>
            <select class="form-control" id="category"  th:name="device" th:field="*{category}">
                <option value="please select a category">Please Select a Device Category</option>
                <option th:each="device:${ListOfDeviceCategory}" th:value="${device.category}" th:text="${device.category}"></option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label">Device Name</label>
            <select id="deviceName" class="form-control" th:field="*{deviceName}"></select>
        </div>
        <div class="form-group">
            <label class="control-label" for="manufacture"> Manufacture Id </label>
            <input id="manufacture" class="form-control" th:field="*{manufacturedId}" placeholder="Enter manufactured id" required
                   autofocus="autofocus" />
        </div>

        <div class="form-group">
            <label class="control-label" for="department"> DevicePurchaseDate </label>
            <input id="department" class="form-control" type="date"
                   th:field="*{devicePurchaseDate}" placeholder="Enter Password" required autofocus="autofocus" />
        </div>
        <div class="form-group">
            <label class="control-label" > AssignStatus </label>

            <select class="form-control" th:field="*{assignStatus}">
                <option th:value="unassigned">Unassigned</option>
            </select>
        </div>

        <div class="form-group">
            <label class="control-label" > DeviceStatus  </label>
            <select class="form-control" th:field="*{deviceStatus}">
                <option th:value="new">New</option>
                <option th:value="damaged">Damaged</option>
            </select>

        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-success btn1">Register</button>
            <a th:href="@{/}" class="btn btn-primary btn2">Back</a>
        </div>
    </form>
</div>
</div>
</div>
</div>
<script type="text/javascript">
$("#category").change(function() {
        var x = $("#category").val();
        console.log(x);
        $.ajax({
			type: 'GET',
			url: '/demo/loadNamesByCategory/' + x,
			success: function(result) {
				var result = JSON.parse(result);
				console.log(result);
				var s = '';
				for(var i = 0; i < result.length; i++) {
					s += '<option value="' + result[i] + '">' + result[i] + '</option>';
				}
				$('#deviceName').html(s);
			}
		});
      });
/* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
var dropdown = document.getElementsByClassName("dropdown-btn");
var i;

for (i = 0; i < dropdown.length; i++) {
  dropdown[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var dropdownContent = this.nextElementSibling;
    if (dropdownContent.style.display === "block") {
      dropdownContent.style.display = "none";
    } else {
      dropdownContent.style.display = "block";
    }
  });
}
</script>
</body>
</html>